body{
    margin: 0;
    padding: 0;
    display:flex;
    flex-direction: column;
    justify-content: stretch;
}

/* Header / Footer */
#header, footer{
    padding: 16px;
    padding-left: 48px;
    padding-right: 48px;
    background-color: #1F2937;
}

#header{
    display: flex;
    justify-content: space-between;
}

#logo{
    font-size: 24px;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.links{
    color: #E5E7EB;
}

footer{
    text-align: center;
    color: #E5E7EB;
}


/* Section 1 */
.section1{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

#hero-main, #logo{
    color: #F9FAF8;
}

#hero-main{
    font-size: 48px;
    font-weight: bold;
}

#hero-second{
    font-size: 18px;
}

#hero-second{
    color: #E5E7EB;
}

button{
    background-color: #3882F6;
    border: none;
    border-radius: 5px;
    color: #F9FAF8;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 15px;
}

.place-holder{
    padding: 50px 100px;
    background-color: gray;
    color: #E5E7EB;
    margin: 15px;
}


/* Section 2 */
#section2{
    display:flex;
}


.list-square{
    width: 100px;
    height: 100px;
    border: rgb(34, 34, 249) solid;
    border-width: 4px;
    border-radius: 5px;
}